<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
	  xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
<head>
	<title>Unicode Fraction Creator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.1.0/dist/vue-clipboard.min.js"></script>
</head>
<body>
<div class="ui text container">
	<div class="ui center aligned container">
		<h1>Unicode Fraction Creator</h1>
		<p>by <a href="https://lights0123.com">Ben Schattinger</a></p>
	</div>
	<br/>
	<div class="ui two column centered stackable grid" id="app">
		<div class="row">
			<div class="column">
				<div class="ui fluid labeled input">
					<div class="ui basic label">
						Numerator
					</div>
					<input placeholder="Numerator" type="text" v-model="numerator">
				</div>
			</div>
			<div class="column">
				<div class="ui fluid labeled input">
					<div class="ui basic label">
						Denominator
					</div>
					<input placeholder="Denominator" type="text" v-model="denominator">
				</div>
			</div>
		</div>
		<div class="equal width row">
			<div class="column">
				<div class="ui fluid labeled action input">
					<div class="ui basic label" v-if="simplified.fractionForm">
						Original
					</div>
					<input value="" type="text" readonly v-model="original.fractionForm">
					<button class="ui right labeled icon button" v-clipboard:copy="original.fractionForm"
							v-clipboard:success="copySuccess.bind(this,original)"
							v-clipboard:error="copyFail.bind(this,original)" v-on:mouseout="copyReset(original)"><i
							v-bind:class="[original.copyIcon]"
							class="icon"></i>
						{{original.copyText}}
					</button>
				</div>
			</div>
			<div class="column" v-if="simplified.fractionForm">
				<div class="ui fluid labeled action input">
					<div class="ui basic label">
						Simplified
					</div>
					<input value="" type="text" readonly v-model="simplified.fractionForm">
					<button class="ui right labeled icon button" v-clipboard:copy="simplified.fractionForm"
							v-clipboard:success="copySuccess.bind(this,simplified)"
							v-clipboard:error="copyFail.bind(this,simplified)" v-on:mouseout="copyReset(simplified)"><i
							v-bind:class="[simplified.copyIcon]"
							class="icon"></i> {{simplified.copyText}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<script src="math.js" charset="UTF-8"></script>
</div>
</body>
</html>