#forkongithub{
	display:none;
}
/*from https://codepo8.github.io/css-fork-on-github-ribbon/ */
@media screen and (min-width: 800px) {
	#forkongithub {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
		z-index: 9999;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}

	#forkongithub a {
		background: #00b5ad;
		color: #fff;
		text-decoration: none;
		font-family: arial, sans-serif;
		text-align: center;
		font-weight: bold;
		padding: 5px 40px;
		font-size: 1rem;
		line-height: 2rem;
		transition: 0.5s;
		width: 200px;
		position: absolute;
		top: 60px;
		right: -60px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	}

	#forkongithub a:hover {
		background: #a333c8;
		color: #fff;
	}

	#forkongithub a::before, #forkongithub a::after {
		content: "";
		width: 100%;
		display: block;
		position: absolute;
		top: 1px;
		left: 0;
		height: 1px;
		background: #fff;
	}

	#forkongithub a::after {
		bottom: 1px;
		top: auto;
	}
}

main {
	flex: 1;
	margin-bottom: 20px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}